<section class="flex flex-col gap-y-4">
  <h1 class="text-pretty text-center text-4xl font-bold md:text-start">
    Clark Kenneth C. Tolosa
  </h1>
  <div class="hidden flex-col gap-y-2 font-medium md:flex">
    <p>I am a passionate Web Developer.</p>
    <p>
      Currently in love with Frontend Engineering with libraries and modern
      JavaScript frameworks with the likes of Tailwind CSS, React, and Next.
      Also interested in managing, interpreting, and visualizing data in the
      Backend and engineering the connection of both Frontend and Backend.
    </p>
    <p>
      Capable of Full Stack Web Development. Knowledgeable in modern
      technologies.
    </p>
  </div>
</section>
