---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { ...rest } = Astro.props;
---

<a
  class="flex items-center justify-center gap-x-2 rounded-2xl border-2 border-neutral-950 py-3 shadow-md transition-transform hover:bg-neutral-200 focus:bg-neutral-200 active:-translate-y-1 [&>span]:size-6"
  target="_blank"
  {...rest}
>
  <slot />
</a>
